<div class= "main_text_content">

	<input type="text" placeholder="Search for a comic..." ng-model="searchFor" size="40"  style="display:block; height: 30px; margin-top:30px; margin-bottom: 10px" />
	

	<div class="posting" ng-repeat="portfolio in portfolios  | filter: { title : searchFor } ">


		
			<div class="footer_text"> No: {{ portfolio.name }}</div>
<div class="posting_title">
			<a href="index.html#/comic/{{ portfolio.name }}">
				{{ portfolio.title }} 
			</a>


			<!-- <div class="date">{{ portfolio.date }}</div> -->
		</div>


		<div class="panel-body">
			{{ portfolio.tagwords }}

			
		</div>
	</div>



<p class="footer_text">There are {{ portfolios.length }} comics available.</p>

</div>